body {
    background: rgba(0,0,0,0.5);
    color:maroon;
    text-align: center;
    font-family:'Times New Roman';
    font-size: 24px;
    margin: 0;
    padding: 0;
}
#cabecera {
    background:#6d1616;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
#cabecera #logotipo {
    width: 20px;
    vertical-align: middle;
}

#cabecera #tagline {
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container {
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 2px solid #6d1616;
    margin: 0 auto;
}
#container h1 {
    font-size: 24px;
}
#post {
    padding: 1em;
}